# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# API-ключи
API_KEY=your_api_key_here
GITHUB_TOKEN=your_github_token_here

# В проекте используется библиотека yfinance. Эти данные не нужны, но если хотите можете использовать свои данные,
заменив при этом значения в функциях.